# 基本語法練習

### Python 基本規則: 以縮排來區分程式區塊，並儘量使用「空白」
[參考](https://python.swaroopch.com/basics.html)

In [ ]:
for i in range(5):
    print(i, '*', i, '=', i*i)

- 註解符號: #

In [90]:
# 這一行是註解
# print('hi~ A')
print('Hello World')
print('hi~')

Hello World
hi~

### 運算符號
[參考](https://python.swaroopch.com/op_exp.html)

In [3]:
# 加法
3+12

15

In [4]:
# 減法
54321-12345

41976

In [7]:
# 乘法
123*1234567890918722345982934759345

151851850583002848555900975399435

In [8]:
# 除法 float / int
345/5

69.0

In [91]:
# power 
3**3

27

In [12]:
2**10

1024

In [13]:
# 整數除法
123//5

24

In [14]:
123/5

24.6

In [15]:
# 取餘數
123%5

3

### 變數

[參考](https://python.swaroopch.com/basics.html)

- 數字: integers and floats

In [16]:
A=5

In [17]:
a = 10

In [18]:
print(A)

5

In [19]:
num_int = 2*3

In [20]:
print(num_int)

6

In [ ]:
# python不用像 C語言那樣，有限定 int4, int8, int16, int32, int64...等有限的表示長度
num_int = 123456789*987654321

In [ ]:
print(num_int)

In [21]:
num_float = 1.23*4.56

In [22]:
print(num_float)

5.6088

In [23]:
A = 5

In [24]:
A = 5/3

In [25]:
A

1.6666666666666667

### 變數進階

In [26]:
num_float = num_float * num_int
print(num_float)

33.6528

In [92]:
num_int = 10
num_int = num_int + 20
print(num_int)

30

In [28]:
num_int += 50
print(num_int)

80

In [ ]:
num_int += 50 # --> num_int = num_int+50

In [33]:
str1 = 'hello  '

In [34]:
print('(' + str1 + ')')

(hello  )

### 字串

In [35]:
str1 = 'hello, i am jack'
print(str1)

hello, i am jack

In [36]:
str2 = 'hello world'
print(str1 + str2)

hello, i am jackhello world

In [38]:
# Python2.x / Python3.x
str3 = "number int is %s; number float is %s" %(num_int, num_float)
print(str3)

number int is 80; number float is 33.6528

In [ ]:
'this is a string'

In [40]:
# 進一步對數字格式化
str3 = 'number int is %5d; number float is %.3f' %(num_int, num_float)
print(str3)

number int is    80; number float is 33.653

In [41]:
# Python3支援的格式化寫法
num1 = 15
num2 = 1.234
str4 = f"num1 = {num1}, num2 = {num2}"
print(str4)

num1 = 15, num2 = 1.234

In [44]:
# 補充說明
num1 = 15000000
num2 = 1.2345
str4 = f"num1 = {num1:,}, num2 = {num2:.2f}"
print(str4)

num1 = 15,000,000, num2 = 1.23

In [46]:
' abc  '.strip()

'abc'

### 判斷式

- if

In [48]:
n = 6
m = 10
if n>m:
    print('great')
    print('大於')
else:
    print('less')
    print('小於')

less
小於

- 這個範例有陷井，請改一下n的值，並把他修改成正確的值

In [52]:
n=75
if n<60:
    print('你不及格')
elif n<70:
    print('低空飛過，再加油')
elif n<80:
    print('很不錯喔')
else:
    print('你太厲害了!')

很不錯喔

### 迴圈

- for
    - range(1, 5) --> [1, 2, 3, 4]
    - range(5) -> [0, 1, 2, 3, 4]

In [53]:
for i in range(5):
    print(i, '*', i, '=', i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16

In [99]:
for i in [1, 2, 3, 4]:
    print(i, '*', i, '=', i*i)
    print('--')

1 * 1 = 1
--
2 * 2 = 4
--
3 * 3 = 9
--
4 * 4 = 16
--

In [56]:
for i in [1, 2, 3, 4]:
    print( '%s * %s = %s' %(i, i, i*i) )

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16

In [55]:
for i in [1, 2, 3, 4]:
    print( f'{i} * {i} = {i*i}' )

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16

In [58]:
for i in [3, 7, 11, 17]:
    print( f'{i} * {i} = {i*i}' )

3 * 3 = 9
7 * 7 = 49
11 * 11 = 121
17 * 17 = 289

- while

In [60]:
MAX_N = 5
n = 1
while(n<MAX_N):
    print('%d^%d = %d' %(n, n, n**n))
    n+=1
print('the end')

1^1 = 1
2^2 = 4
3^3 = 27
4^4 = 256
the end

- 跑一半需要跳出來: break

In [61]:
for i in range(1, 10):
    if i>=6:
        break
    print(i, '*', i, '=', i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25

- 某些項目不處理，但還需要處理後續: continue

In [62]:
for i in range(1, 10):
    if i==6:
        continue
    print(i, '*', i, '=', i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81

In [65]:
wind = 2
if wind < 5:
    pass
    print('風很小')
else:
    print('風速過大，請小心')

風很小

In [63]:
for i in range(1, 10):
    if i==6:
        pass
    print(i, '*', i, '=', i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81

----

### List

In [66]:
my_list = [1, 24, 32, 6, 30, 57]
print(my_list)

[1, 24, 32, 6, 30, 57]

In [67]:
# 找出超過30的數字
for item in my_list:
    if item > 30:
        print(item)

32
57

In [68]:
len(my_list)

6

In [ ]:
# 同上，但列出是第幾個
for i in range(len(my_list)):
    if my_list[i] > 30:
        print(i, '->', my_list[i])

In [70]:
my_list[4]

30

In [71]:
# 同上，但列出是第幾個
for i in range(6): # range(6) -> [0, 1, 2, 3, 4, 5]
    if my_list[i] > 30:
        print(i, '->', my_list[i])

2 -> 32
5 -> 57

In [72]:
# 另一個寫法
for i, item in enumerate(my_list):
    if item > 30:
        print(i, '->', item)

2 -> 32
5 -> 57

### Dictionary

In [73]:
my_dict = {'Apple':3, 'Pear':5, 'Orange':2}

In [74]:
print(my_dict)

{'Apple': 3, 'Pear': 5, 'Orange': 2}

In [75]:
for key in my_dict:
    print('%s : %s' %(key, my_dict[key]))

Apple : 3
Pear : 5
Orange : 2

In [76]:
my_dict['Strawberry'] = 10
my_dict['Apple'] += 2 # my_dict['Apple'] = my_dict['Apple'] + 2

In [77]:
my_dict

{'Apple': 5, 'Pear': 5, 'Orange': 2, 'Strawberry': 10}

In [78]:
my_dict['Apple'] + 2

7

In [79]:
my_dict['Apple']

5

### 終極密碼

- 提示: 
    - 會使用到的API: randint, input
    - input輸入的資料須要轉換

In [88]:
import random #引入新的模組

number = random.randint(1, 5) # randint()
print(number)

3

In [86]:
my_num = input('請輸入 1~100的數字')
print( type(my_num) )
my_num = int(my_num)
print( type(my_num), '->', my_num)

請輸入 1~100的數字50
<class 'str'>
<class 'int'> -> 50

In [89]:
if my_num > number:
    print("太大，猜小一點")
else:
    print("太小，猜大一點")

太大，猜小一點

- 第一版: 使用者輸入一個數字密碼，程式要在沒猜中時，能提示使用者要猜大一點或是小一點

In [98]:
# 請在這邊完成你的程式
target = random.randint(1, 100)
#print(target)

for i in range(10):
    your_num = input("請輸入 1~100 的數字")
    your_num = int(your_num)
    if your_num>target:
        print("太大，猜小一點")
    elif your_num<target:
        print("太小，猜大一點")
    else:
        print("恭喜猜中了!!")
        break
print("遊戲結束~")

請輸入 1~100 的數字50
太小，猜大一點
請輸入 1~100 的數字80
太大，猜小一點
請輸入 1~100 的數字70
太大，猜小一點
請輸入 1~100 的數字60
太小，猜大一點
請輸入 1~100 的數字65
恭喜猜中了!!
遊戲結束~

- 第二版: 變數的練習，在前面的基礎下，把每一次猜的值記下來，更新到程式中的上、下限值，並在下一次提示目前可以猜的範圍

In [100]:
# 請在這邊完成你的程式
target = random.randint(1, 100)
#print(target)
your_min = 1
your_max = 100

for i in range(10):
    your_num = input(f"請輸入 {your_min}~{your_max} 的數字")
    your_num = int(your_num)
    if your_num>target:
        print("太大，猜小一點")
        your_max = your_num
    elif your_num<target:
        print("太小，猜大一點")
        your_min = your_num
    else:
        print("恭喜猜中了!!")
        break
print("遊戲結束~")

請輸入 1~100 的數字60
太大，猜小一點
請輸入 1~60 的數字20
太小，猜大一點
請輸入 20~60 的數字45
恭喜猜中了!!
遊戲結束~